{% extends 'student/base.html' %} {% block body %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->

<div class="container">
  <div  class="hidden-md col-lg-12"></div>
<h1 style="text-align: center; margin: 30px;">عدد التلاميذ المسجلين {{students.count}} </h1>
</div>
{% for student in students %}


<div class="alert alert-primary all_student" id="all_students">
    <a href="{% url 'all_url:student_datail' student.id %}">{{student}}</a>
</div>
{% endfor %}

<style>

.my {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin: auto;
    width: 20%;
    margin-top: 0px;
    padding-left: 50%;
    
}
.all_student {
  margin-left: 50%;
  margin-right: 9%;
  margin-top: 20px;
}

.div {
  position: relative;
  margin-right: 70%;
  padding: 10px;
  /* background-color: blanchedalmond; */
  text-align: center;
  left: 80px;
  bottom: -20px;
  position: fixed;
  position: absolute;
  top: 65px;
  padding-left: 10;
}

</style>
<div class="container">
  <div class="p-5">
<div class="parantes" style="width: 30px;">
<div class="div">

    <div class="col">
    <div class="my col-xs mt-5">
<div class="dropdown mt-5 mr-5">
  <form method="get">
  {{myfilter.form}}
    <input type="submit" value="بحث " class="btn btn-outline-success my-2 my-sm-0 mt-3">
    </form>
</div>
   </div>
   </div>
</div>
</div>
</div>
</div>
{% endblock body %}

