{% extends 'student/base.html' %} {% block body %}
{% load bootstrap4 %}
<style>
.all_student {
    margin-left: 60%;
    margin-right: 8%;
    margin-top: 20px;
}

label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
</style>


  <!-- start tabal -->
  <div class="container">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">id</th>
        <th scope="col">الاسم</th>
        <th scope="col">الفصل</th>
        <th scope="col">اليوم</th>
        <th scope="col">بعذر ام لا</th>
      </tr>
    </thead>
    
    {% for my in myf %}
    
    <tbody>
      <tr>
        <th scope="row">{{my.id}}</th>
        <td>{{my.name_student}}</td>
        <td>{{my.name_class}}</td>
        <td>{{my.time|date:'d M o'}}</td>
        <td>{{my.Excuse}}</td>
        
      </tr>
    </tbody>

    {% endfor %}
</table>
</div>
{% endblock body %}
