{% extends 'student/base.html' %} {% block body %}
{% load static %}
<style>
    body {
        text-align: right;
    }
    h4 {
        color:blueviolet;
    }
</style>
<div class="container">
    <h1 style="text-align: center;">التعليمات:</h1>
    <h5>يرجى الالتزام بالتعليمات لتفادي اي مشاكل</h5>
    <h4>اولا اضافة طفل: </h4>
    <h5>
         عند اضافة طفل جديد للنظام فيجب عليك التوجه للوحة التحكم والتي ستراها في اعلاى الصفحة ثم تتوجه 
         الى الطلاب وتضغط زر الاضافة ويرجى مراعاة المطلوب وادخال البيانات بشكل
          صحيح وعند النقر على علامة + التي بجوار الفصل فستمكنك من اضافة فصل جديد 
         وكذالك عند اضافة الحافلة ونكرر يرجى الاهتمام عند اضافة كل خانة لان النظام يقيم عليها بعض العمليات
         اما عند ارادة حذف طالب فعليك التوجه الى الزر المجاور له ثم تضغط عليه ثم تذهب الى اكشنس وتختار دليت ثم تضغط go 
         كما يمكنك اختيار اكثر من طالب
         <img src="{% static 'img/talemat2.png' %}" style="margin: 10px;">
    </h5>
    <h4>ثانيا اضافة فصل :</h4>
    <h5>
        عند اضفة فصل توجه الى لوحة التحكم الخاصة بالتطبيق واذهب الى الفصول واضغط على زر الاضافة ثم قم بتعبئة البيانات وبالنسبة لخانة المواد التي سيدرسها الفصل فاضغط على زر ctrl 
        في الجهاز ثم اضغط على المواد التي تريد ان يدرسها الفصل اما بالنسبة لزر + بجوار المواد فيمكنك من خلاله اضافة مادة جديدة
    </h5>
    <h4>ثالثا اضافة الحافلات: </h4>
    <h5>
        اذهب الى لوحة التحكم ثم الى الحافلات واضغط على زر الاضافة
        يمكنك اضافة حافلة مزيفة بحيث تختارها لكل الطلاب الذين ليس لهم حافلة وتجعل الراتب صفر
    </h5>

    <h4>رابعا: اضافة المواد</h4>
    <h5>
        اذهب الى لوحة التحكم ثم الى المواد ثم اضغط على زر الاضافة
    </h5>
    <h4>خامسا: اضافة الغياب</h4>
    <h5>
        اذهب الى لوحة التحكم ثم اختر الغياب واضغط على زر الاضافة اذا كان الغياب بدون عذر فيرحى كتابة لا في خانة العذر
    </h5>
    <h4>سادسا: اضافة الرواتب </h4>
    <h5>
        اذهب الى لوحة التحكم ثم الرواتب ثم اضافة راتب عند تحديد راتب المعلمة الشهر فاعلم ان البرنامج يقوم بضربة في ثلاثة وهى مجموع شهور الترم فيجب عليك اضافة راتب المعلمة في شهر واحد فقط
    </h5>
    <h4>سابعا: اضافة المصروفات</h4>
    <h5>
        اذهب الى لوحة التحكم ثم الى المصروفات ثم اضافة بالنقر على علامة + بجوار التصنيف فيمكنك من اضافة تصنيف جديد مثل لوازم اساس فيرجى الحرص عند اضافة السعر لان البرنامج يقوم ببعض العمليات عليه
    </h5>
    <h4>ثامنا: الصفحة الرئيسية</h4>
    <h5>
        في الصفحة الرئيسية يمكنك رئية جميع الطلاب كما يمكنك من عمل بحث في اشياء عدة فيمكنك من اظهار تلاميذ فصل معين ومعرفة عددهم واسمائهم مكا نك ان ضغط على اي طالب فسوف يعرض لك بياناته الشخصية
    </h5>
    <h4>تاسعا: الاحصائيات</h4>
    <h5>
        في الصفحة الرئيسية في مقدمة الصفح ستجد الاحصائيات
         اضغط عليها كل المبالغ التي دفعها الطلاب هي مجموع المبلغ المدفوع الي قد اضفته عند اضافة الطلاب اما كل المدفوعات فهو مجموع ما اضفته في المدفوعات اما مجموع رواتب الحافلات فهو مجموع الرواتب التي اضفتها للحافلات مضروبتا في ثلاثة اي مجموع اشهر الترم اما بالنسبة للمبلغ المتبقي فهو مجموع المبالغ المتبقية من الطلاب والتي يجب عليك تحصيلها منهم ثم التعديل في لوحة التحكم اما بالنسبة لمجموع رواتب المعلمات فهو مجموع الرواتب التي تدفعها للمعلمات مضروبا في ثلاثة اي مجموع اشهر الترم اما بالنسبة لصافي الربح فهو مجموع المبالغ التي دفعها الطلاب مطروحا منه كل المدفوعات ومطروحا منه كل رواتب الحافلات ومجموع رواتب المعلمات
    </h5>
    <h4>عاشرا: عرض الغياب</h4>
    <h5>
        اذهب الى الصفحة الرئيسية ثم اضغط على الغياب كما يمكنك من البحث
    </h5>
    <h4>الحادي عشر: عرض المصروفات</h4>
    <h5>اذهب الى الصفحة الرئيسية ثم اضغط على المصروفات يمكنك البحث </h5>
    <h4>الثاني عشر: اضافة درجة شهادة</h4>
    <h5>
        اذهب الى لوحة التحكم ثم الى الدرجات ثم الى اضافة بالنسبة للدرجات التي ستجدها موجودة افتراضيا فهي الدرجة النهائية
    </h5>
</div>

{% endblock body %}